// SPDX-License-Identifier:     GPL-2.0
/*
 * Copyright (C) 2019, Intel Corporation
 */
#include "socfpga_adrv904x-rd-ru.dtsi"

/ {
	model = "SoCFPGA ADRV904X-RD-RU SoCDK";

	aliases {
		serial0 = &uart1;/*HPS UART1 is used as ADRV904X-RD-RU main UART @ttyS0*/
		serial1 = &uart0;/*HPS UART0 is used for debugging connection to Koror UART @ttyS1*/
		ethernet0 = &gmac0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";
		hps0 {
			label = "hps_led0";
			gpios = <&porta 0 GPIO_ACTIVE_HIGH>;
		};

		hps1 {
			label = "hps_led1";
			gpios = <&porta 6 GPIO_ACTIVE_HIGH>;
		};

		hps2 {
			label = "hps_led2";
			gpios = <&porta 5 GPIO_ACTIVE_HIGH>;
		};
		
		hps3 {
			label = "hps_led3";
			gpios = <&porta 1 GPIO_ACTIVE_HIGH>;
		};

		hps4 {
			label = "hps_led4";
			gpios = <&porta 7 GPIO_ACTIVE_HIGH>;
		};

		hps5 {
			label = "hps_led5";
			gpios = <&porta 8 GPIO_ACTIVE_HIGH>;
		};
		
		hps6 {
			label = "hps_led6";
			gpios = <&porta 4 GPIO_ACTIVE_HIGH>;
		};

		hps7 {
			label = "hps_led7";
			gpios = <&porta 9 GPIO_ACTIVE_HIGH>;
		};

	};

	memory {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		reg = <0 0 0 0>;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&phy0>;

	max-frame-size = <9000>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: ethernet-phy@0 {
			reg = <15>;

			/*txd0-skew-ps = <420>;*/ /* 0ps */
			/*txd1-skew-ps = <420>;*/ /* 0ps */
			/*txd2-skew-ps = <420>;*/ /* 0ps */
			/*txd3-skew-ps = <420>;*/ /* 0ps */
			/*rxd0-skew-ps = <420>;*/ /* 0ps */
			/*rxd1-skew-ps = <420>;*/ /* 0ps */
			/*rxd2-skew-ps = <420>;*/ /* 0ps */
			/*rxd3-skew-ps = <420>;*/ /* 0ps */
			/*txen-skew-ps = <420>;*/ /* 0ps */
			/*txc-skew-ps  = <900>;*/ /* 0ps */
			/*rxdv-skew-ps = <420>;*/ /* 0ps */
			/*rxc-skew-ps  = <900>;*/ /* 0ps */

		};
	};
};

&mmc {
	status = "okay";
	cap-sd-highspeed;
	broken-cd;
	bus-width = <4>;
};

&osc1 {
	clock-frequency = <25000000>;
};

&sysclk{
	clock-frequency = <245760000>;
};

&s_axi_clk{
	clock-frequency = <100000000>;
};

&ref_a {
	clock-frequency = <125000000>;
};

&ref_aa {
	clock-frequency = <390625000>;
};

&ref_b {
	clock-frequency = <1>;
};

&ref_bb {
	clock-frequency = <10000000>;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	disable-over-current;
};

&watchdog0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;
	/* i2c-sda-falling-time-ns = <890>; */  /* hcnt */
	/* i2c-sdl-falling-time-ns = <890>; */  /* lcnt */

	

	i2c_mux:i2cswitch@70 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		
		/*
		interrupt-parent = <&ipic>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <2>;
		*/

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			ad9545_clock: ad9545@4b {
				compatible = "adi,ad9545";
				reg = <0x4b>;

				#address-cells = <1>;
				#size-cells = <0>;
				#clock-cells = <2>;

				clocks = <&ref_a>, <&ref_aa>, <&ref_b>, <&ref_bb>;
				clock-names = "Ref-A", "Ref-AA", "Ref-B", "Ref-BB";

				adi,auto-init;
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			rtc@68 {
				compatible = "dallas,ds1339";
				reg = <0x68>;
			};
		};

		i2c02: i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			temp@4d {/*max6581*/
				compatible = "maxim,max1619";
				reg = <0x4d>;
			};

		};
		
		i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;

			brm457@2d {/* power module */
				compatible = "PMBus";
				reg = <0x2d>;
			};

		};

	 };
};

&ptpclk {
	clocks = <&ad9545_clock AD9545_CLK_OUT AD9545_Q0B>,
		 <&ad9545_clock AD9545_CLK_NCO AD9545_NCO0>;
	clock-names = "sys_clk", "tuning_clk";
	status = "okay";
};

&sfp_eth0 {
	i2c-bus = <&i2c02>;
	status = "okay";
};

&sfp_eth1 {
	i2c-bus = <&i2c02>;
	status = "okay";
};

&msp {
	status = "okay";
	adi,ptp-clk = <&ptpclk>;
};

&qspi {
	status = "okay";
	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,mt25qu02g", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <2>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			qspi_boot: partition@0 {
				label = "Boot and fpga data";
				reg = <0x0 0x03FE0000>;
			};

			qspi_rootfs: partition@3FE0000 {
				label = "Root Filesystem - JFFS2";
				reg = <0x03FE0000 0x0C020000>;
			};
		};
	};
};

&temp_volt {
	voltage {
		#address-cells = <1>;
		#size-cells = <0>;
		input@2 {
			label = "0.8V VCC";
			reg = <2>;
		};

		input@3 {
			label = "1.8V VCCIO_SDM";
			reg = <3>;
		};

		input@4 {
			label = "1.8V VCCPT";
			reg = <4>;
		};

		input@5 {
			label = "1.2V VCCCRCORE";
			reg = <5>;
		};

		input@6 {
			label = "0.9V VCCH";
			reg = <6>;
		};

		input@7 {
			label = "0.8V VCCL";
			reg = <7>;
		};
	};

	temperature {
		#address-cells = <1>;
		#size-cells = <0>;

		input@0 {
			label = "Main Die SDM";
			reg = <0x0>;
		};

		input@10000 {
			label = "Main Die corner bottom left max";
			reg = <0x10000>;
		};

		input@20000 {
			label = "Main Die corner top left max";
			reg = <0x20000>;
		};

		input@30000 {
			label = "Main Die corner bottom right max";
			reg = <0x30000>;
		};

		input@40000 {
			label = "Main Die corner top right max";
			reg = <0x40000>;
		};
	};
};

#include <dt-bindings/iio/frequency/ad9528.h>

&spi {
	status = "okay";
	/* GNSS  @5 */
	/* RFFE1 @4 */
	/* RFFE0 @3 */
	/* TRX   @1 */
	/* AD9576@0 */
	clk0_ad9528: ad9528@2 {
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		compatible = "ad9528";

		//spi-cpol;
		//spi-cpha;
		spi-max-frequency = <50000000>;
		//adi,spi-3wire-enable;
		reg = <2>;

		clock-output-names = "TRX_SYS_REF", "TRX_DEV_CLK", "ad9528_out2_unused", "SMA_RFFE0_DEV_CLK", "ad9528_out4_unused", "SMA_RFFE1_DEV_CLK", "ad9528_out6_unused", "ad9528_out7_unused", "ad9528_out8_unused", "ad9528_out9", "FPGA_FABRIC_DEV_CLK", "ad9528_out11_unused", "FPGA_SYS_REF", "FPGA_DEV_CLK";

		adi,vcxo-freq = <245760000>;

		/* PLL1 config */
		adi,ref-mode = <REF_MODE_SELECT_REFA>;
		adi,refa-r-div = <1>;
		adi,refb-r-div = <1>;
		adi,pll1-feedback-div = <0>;
		adi,osc-in-diff-enable;
		adi,pll1-charge-pump-current-nA = <5000>;

		/* PLL2 config */

		/*
		 * Valid ranges based on VCO locking range:
		 *   1150.000 MHz - 1341.666 MHz
		 *    862.500 MHz - 1006.250 MHz
		 *    690.000 MHz -  805.000 MHz
		 */

		adi,pll2-charge-pump-current-nA = <805000>;

		/* AD9528_ADDR_PLL2_N_DIV: PLL2 A and B divider */
		/* adi,pll2-n2-div = <4>; */

		/* AD9528_ADDR_PLL2_CTRL, 0x03U */

		/* AD9528_ADDR_PLL2_VCO_DIV, init->pll2Settings.rfDivider */
		/* adi,pll2-vco-div-m1 = <4>; */

		/* AD9528_ADDR_PLL2_LF_CTRL1, 0x2AU */

		/* AD9528_ADDR_PLL2_LF_CTRL2, 0x00U */

		/* AD9528_ADDR_PLL2_REPLICA_CHDIV, init->pll2Settings.n2Divider - 1U */

		/* AD9528_ADDR_PLL2_REPLICA_DIV_PHASE, 0x00U */

		/* AD9528_ADDR_PLL2_RDIV, init->pll2Settings.r1Divider */
		/* adi,pll2-r1-div = <1>; */

		/* AD9528_ADDR_PLL2_VCO_CTRL, 0x11U (r1Divider > 1) 0x01U (r1Divider <= 1) */

		adi,pll2-m1-frequency = <983040000>;

		/* SYSREF config */
		adi,sysref-src = <SYSREF_SRC_INTERNAL>;
		adi,sysref-pattern-mode = <SYSREF_PATTERN_CONTINUOUS>;
		adi,sysref-k-div = <8192>;
		adi,sysref-nshot-mode = <SYSREF_NSHOT_4_PULSES>;
		adi,sysref-request-trigger-mode = <SYSREF_LEVEL_HIGH>;

		adi,rpole2 = <RPOLE2_900_OHM>;
		adi,rzero = <RZERO_2500_OHM>;
		adi,cpole1 = <CPOLE1_16_PF>;

		/* 0 TRX_SYS_REF		120000
		   1 TRX_DEV_CLK		491520000
		   3 SMA_RFFE0_DEV_CLK		491520000
		   5 SMA_RFFE1_DEV_CLK		491520000
		  10 FPGA_FABRIC_DEV_CLK	245760000
		  12 FPGA_SYS_REF		120000
		  13 FPGA_DEV_CLK		245760000 */

		ad9528_2_c0: channel@0 {
			reg = <0>;
			adi,extended-name = "TRX_SYS_REF";
			adi,driver-mode = <DRIVER_MODE_LVDS>;
			adi,divider-phase = <2>;
			adi,channel-divider = <0>;
			adi,signal-source = <SOURCE_SYSREF_VCO>;
		};

		ad9528_2_c1: channel@1 {
			reg = <1>;
			adi,extended-name = "TRX_DEV_CLK";
			adi,driver-mode = <DRIVER_MODE_HSTL>;
			adi,divider-phase = <0>;
			adi,channel-divider = <2>;
			adi,signal-source = <SOURCE_VCO>;
		};

		ad9528_2_c3: channel@3 {
			reg = <3>;
			adi,extended-name = "SMA_RFFE0_DEV_CLK";
			adi,driver-mode = <DRIVER_MODE_HSTL>;
			adi,divider-phase = <0>;
			adi,channel-divider = <2>;
			adi,signal-source = <SOURCE_VCO>;
		};

		ad9528_2_c5: channel@5 {
			reg = <5>;
			adi,extended-name = "SMA_RFFE1_DEV_CLK";
			adi,driver-mode = <DRIVER_MODE_HSTL>;
			adi,divider-phase = <0>;
			adi,channel-divider = <2>;
			adi,signal-source = <SOURCE_VCO>;
		};

		ad9528_2_c10: channel@10 {
			reg = <10>;
			adi,extended-name = "FPGA_FABRIC_DEV_CLK";
			adi,driver-mode = <DRIVER_MODE_LVDS>;
			adi,divider-phase = <0>;
			adi,channel-divider = <4>;
			adi,signal-source = <SOURCE_VCO>;
		};

		ad9528_2_c12: channel@12 {
			reg = <12>;
			adi,extended-name = "FPGA_SYS_REF";
			adi,driver-mode = <DRIVER_MODE_HSTL>;
			adi,divider-phase = <2>;
			adi,channel-divider = <0>;
			adi,signal-source = <SOURCE_SYSREF_VCO>;
		};

		ad9528_2_c13: channel@13 {
			reg = <13>;
			adi,extended-name = "FPGA_DEV_CLK";
			adi,driver-mode = <DRIVER_MODE_HSTL>;
			adi,divider-phase = <0>;
			adi,channel-divider = <4>;
			adi,signal-source = <SOURCE_VCO>;
		};
	};
};
