# kernel defconfig override for debug image
# use CONFIG_XXX=n, CONFIG_XXX=y or CONFIG_XXX=m for modifying configurations

CONFIG_INET_DIAG=y
CONFIG_DEVMEM=y
CONFIG_DEBUG_FS=y
CONFIG_TRIM_UNUSED_KSYMS=n
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_MODULES=y
CONFIG_RANDOMIZE_BASE=n
CONFIG_FTRACE=y
CONFIG_SCHED_TRACER=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_EDAC_DEBUG=y
