# U-Boot defconfig override for debug image
# use CONFIG_XXX=n or CONFIG_XXX=y for modifying configurations

CONFIG_FIT_PRINT=y
CONFIG_BOOTDELAY=0
CONFIG_CMD_TEE_EXAMPLE_EARLY=y
CONFIG_SERIAL_PROBE_ALL=y
CONFIG_CMD_EXPORTENV=y
CONFIG_CMD_IMPORTENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_PING=y
CONFIG_NET=y
CONFIG_ETH_DWMAC4=y
CONFIG_DISABLE_CONSOLE_INPUT=n
CONFIG_SYS_DEVICE_NULLDEV=n
CONFIG_ADI_ADRV_DEBUG=y
